<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CFBundleName</key>
    <string>Scratch Everywhere!</string>
    <key>CFBundleDisplayName</key>
    <string>Scratch Everywhere!</string>
    <key>CFBundleIdentifier</key>
    <string>com.se.scratcheverywhere</string>
    <key>CFBundleVersion</key>
    <string>1.0-rc3</string>
    <key>CFBundleIconFile</key>
    <string>Icon</string>
    <key>CFBundleExecutable</key>
    <string>scratch-macOS</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
  </dict>
</plist>
